<!DOCTYPE html>
<html>
  <head>
    <title>Recipe</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/bulma/0.2.3/css/bulma.min.css' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="nav has-shadow">
      <div class="nav-left">
        <h1 class="title is-2"><%= link_to 'Recipes', root_path %></h1>
      </div>

      <div class="nav-center">
        <a class="nav-item" href="#">
          <span class="icon">
            <i class="fa fa-github"></i>
          </span>
        </a>
        <a class="nav-item" href="#">
          <span class="icon">
            <i class="fa fa-twitter"></i>
          </span>
        </a>
      </div>

      <!-- <span class="nav-toggle">
        <span></span>
        <span></span>
        <span></span>
      </span> -->

      <div class="nav-right nav-menu">
        <%= link_to 'Home', root_path, class: 'nav-item' %>
        <%= link_to 'New Recipe', new_formula_path, class: 'nav-item' %>
      </div>
    </nav>
    <% if flash[:notice] || flash[:alert] %>
      <div class="notification">
        <p><%= flash[:notice] %></p>
        <p><%= flash[:alert] %></p>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
